/**
 * Game of Life stylesheet
 * Author: Stéphane LEROY
 * Twitter : @StphaneL
 * Date: 02/03/13
 * Time: 15:29
 */

.center{
    text-align: center;
}
.world table{
    padding: 0;
    margin-top:5px;
    margin-left:auto;
    margin-right:auto;
    border-spacing: 0;
    border: 1px solid #2f4f4f;
}

.world td {
    padding: 0;
    border: 2px solid #2f4f4f;
}

.cell {
    padding-top: 10px;
    padding-bottom: 10px;
    display: block;
}

.cell.Live {
    background-image:url('../img/alive.jpg');
    background-repeat:repeat;
} 


.cell.Dead {
    background-image:url('../img/dead.jpg');
    background-repeat:repeat;
}

.cell.Snake {
    background-image:url('../img/snake.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.table>tbody>tr>td { padding: 0;}

.nav-expanded {
    right: 300px;
}

nav {
    padding: 10px;
    background-color: whitesmoke;
    border-left: 1px solid #e3e3e3;
    display: block;
    height: 100%;
    overflow: auto;
    position: fixed;
    right: -300px;
    font-size: 15px;
    top: 0;
    width: 300px;
    z-index: 2000;
    transition: right 0.3s ease-in-out 0s;
    -webkit-transition: right 0.3s ease-in-out 0s;
    -moz-transition: right 0.3s ease-in-out 0s;
    -o-transition: right 0.3s ease-in-out 0s;
}

.nav-expanded nav {
    right: 0;
}

body.nav-expanded {
    margin-left: 0;
    transition: right 0.4s ease-in-out 0s;
    -webkit-transition: right 0.4s ease-in-out 0s;
    -moz-transition: right 0.4s ease-in-out 0s;
    -o-transition: right 0.4s ease-in-out 0s;
}

#nav-close {
    font-weight: 300;
    font-size: 14px;
    margin-top: 6px;
    margin-right: 6px;
}

body { overflow-x:hidden; }
.page {
    bottom:0; 
    position:absolute; 
    text-align:center;
    top:0;
    width:100%; 
}

.page h1    { font-size:60px; }
.page a     { margin-top:50px; }

.page.ng-leave 	{ z-index:9999; -webkit-animation:slideOutLeft 0.5s both ease-in;
	-moz-animation:slideOutLeft 0.5s both ease-in;
	animation:slideOutLeft 0.5s both ease-in;    

}
.page.ng-enter 	{ z-index:8888; -webkit-animation:slideInRight 0.5s both ease-in;
	-moz-animation:slideInRight 0.5s both ease-in;
	animation:slideInRight 0.5s both ease-in;    }

/* ANIMATIONS
============================================================================= */

/* leaving animations ----------------------------------------- */
/* rotate and fall */
@keyframes rotateFall {
    0%      { transform: rotateZ(0deg); }
    20%     { transform: rotateZ(10deg); animation-timing-function: ease-out; }
    40%     { transform: rotateZ(17deg); }
    60%     { transform: rotateZ(16deg); }
    100%    { transform: translateY(100%) rotateZ(17deg); }
}

/* slide in from the bottom */
@keyframes slideOutLeft {
    to      { transform: translateX(-100%); }
}

/* rotate out newspaper */
@keyframes rotateOutNewspaper {
    to      { transform: translateZ(-3000px) rotateZ(360deg); opacity: 0; }
}

/* entering animations --------------------------------------- */
/* scale up */
@keyframes scaleUp {
    from    { opacity: 0.3; -webkit-transform: scale(0.8); }
}

/* slide in from the right */
@keyframes slideInRight {
    from    { transform:translateX(100%); }
    to      { transform: translateX(0); }
}

/* slide in from the bottom */
@keyframes slideInUp {
    from    { transform:translateY(100%); }
    to      { transform: translateY(0); }
}